<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="includes/header">
    <title>Product Management Page</title>
</head>
<body>
<nav th:replace="includes/navbar :: navbar"></nav>

<div class="container">

    <br>
    <button class="btn btn-dark text-white btn-sm"> <a th:href="@{add-product}">Add Product to Store</a></button>
    <br>
    <br>
    <div class="card-header text-center bg-primary text-white">Product Management</div>

    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "product:${products}">
            <td th:text="${product.getImage()}"></td>
            <td th:text = "${product.getName()}"></td>
            <td th:text="${product.getCategory()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getQuantity()}"></td>
            <td><a class="btn btn-sm btn-primary" th:href="@{/products/update/{id}(id=${product.getId()})}">Update</a> </td>
            <td><a class="btn btn-sm btn-danger" href="">Delete</a> </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="includes/footer"></div>

</body>
</html>