<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="includes/header">
    <title>User Registration</title>

</head>
<body>
<nav th:replace="includes/navbar :: navbar"></nav>


    <div class="container">
        <!-- success message-->
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered</div>
        </div>
        <div class="card w-50 mx-auto my-5  border border-primary">

            <div class="card-header text-center bg-primary text-white">Create User Account</div>
            <div class="card-body">
                <form th:action="@{/user-registration}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="first-name">First Name</label>
                        <input type="text" class="form-control border-primary" id = "first-name" th:field="*{firstName}" placeholder="First Name" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="last-name">Last Name</label>
                        <input type="text" class="form-control border-primary" id="last-name" th:field="*{lastName}"  placeholder="Last Name" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email Address</label>
                        <input type="email" class="form-control border-primary" id="email" th:field="*{email}"  placeholder="Enter your email" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" class="form-control border-primary" id="password" th:field="*{password}" placeholder="********" required autofocus="autofocus">
                        <input type="checkbox" onclick="myFunction()" style="margin-top: 5px">Show Password
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone">Telephone Number</label>
                        <input type="tel" class="form-control border-primary" id = "phone" th:field="*{phone}" placeholder="Telephone" required autofocus="autofocus">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create Account </button>
                        <p style="margin-top: 5px">Already registered? <a href="/" th:href="@{/user-login}">Login here</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            let x = document.getElementById("user-password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

<div th:replace="includes/footer"></div>
</body>
</html>